---
- name: " Create User"
  hosts: all
  become: yes
  tasks:
    - name:  "Add the user 'user1' with a specific uid and a primary group of 'admin'"
      user:
        name: user1
        comment: UserI 
        uid: 10004
        group: admin

    - name: "Add the user 'user2' with a bash shell, appending the group 'admins' and 'developers' to the user's groups"
      user:
        name: user2
        shell: /bin/bash
        groups: admins,developers
        append: yes
...

